/* Font Stuff */
@font-face {
    font-family: 'Linux Libertine MONO';
    src: url('./assets/fonts/LinuxLibertineMONO.ttf') format("truetype");
}
@font-face {
    font-family: 'Odin Rounded';
    src: url('./assets/fonts/OdinRounded.otf') format("opentype");
}
.odin {
    font-family: 'Odin Rounded' !important;
}
.libertine {
    font-family: 'Linux Libertine MONO' !important;
}

.bold {
  font-weight: 1200;
}
.button {
  font-family: 'Odin Rounded';
  /* font-family: 'Linux Libertine MONO'; */
  margin: 10px;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  border-radius: 4px;
  text-decoration: none;
  cursor: default;

  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.button:disabled {
  background-color: #dddddd;
  color: #bbbbbb;
  border-color: #bbbbbb;
}
.button:hover:not(:disabled) {
    background-color: #555555;
    color: white;
}

.button:active:not(:disabled) {
    background-color: #333333;
    border-color: #333333;
    color: white;
}

svg { 
  margin: 10px 20px;
  overflow: visible;
}


* {
    box-sizing: border-box;
  }

h1 {
  font-size: 48px;
  font-weight: 100;
}
/* body {
    background-color: #0095dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
  } */
body {
  margin: 0;
}

.pane_body {
  /* background-color: #0095dd; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
}
.pane_body * {
  margin: 10px;
}

.pane_header {
  /* background-color: #0095dd; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
}

#info-btn {
  position: absolute;
  top: 20px;
  left: 20px;
}

#info-toggle-btn {
  position: absolute;
  top: 0px;
  left: 398px;

  width: 50px;
  height: 105px;
  background: #C7F3CF;
  border-right: 2px solid #464646;
  border-bottom: 2px solid #464646;
  border-bottom-right-radius: 20px;
}
#info-toggle-btn:hover img {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

#info-toggle-btn p {
  margin-top:10px;
  font-family: 'Odin Rounded';
  font-size: 24px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#info-toggle-btn > div {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 80px;
  width: 30px;
  height: 30px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#info-toggle-btn img {
  transform-origin: 50% 50%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  width: 100%;
}

.support_text {
  font-size: 12px;
}
.support_text img {
  height: 14px;
  padding-right: 5px;
  vertical-align: top;
}
.success_message {
  border: 1px solid black;
  border-radius: 4px;
  background-color: antiquewhite;
  position: absolute;
  right: -100px;
}
.success_message.fade_out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.copy_text {
  cursor: pointer;
}

.anchor {
  position: relative;
}

.info-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.pane_info {
  font-family: 'Linux Libertine MONO';
  position: absolute;
  top: 0;
  left: 0;
  background: #C7F3CF;
  border-right: 2px solid #464646;
  color: #464646;
  min-height: 820px;
  height: 100%;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.pane_info h1,h2,h3,h4,h5,h6 {
  font-family: 'Odin Rounded';
  margin-bottom: 0;
}

.pane_info p {
  margin-top: 0;
}
.pane_info ul {
  margin-top: 0;
  padding-left: 15px;
}

.texticon {
  height: 16px;
}

.pane_info.show {
  transform: translateX(0);
}

.pane_info_bottom {
  display:block;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.row-container {
  display: flex;
  justify-content: space-evenly;
}

.col-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

hr {
  padding: 0 !important;
  margin: 10px 0 !important;
  display:block;
  border:0px;
  height:10px;
  width: 100%;
  background-image:url('assets/img/line_h.png');
  background-repeat: repeat-x;
  background-size: 70px 10px;
}

/* User iput text area */
#text-to-translate {
  font-family: 'Linux Libertine MONO';
  padding:5px;
  margin:0;
  border: double 4px black;
  min-height: 100%;
  min-width: 250px;
  resize: none;
}
#text-to-translate:focus {
  outline: 0;
}

/* Copied textarea Grow Wrap code */
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  font-family: 'Linux Libertine MONO';
  display: grid;
  min-height: 100%;
  margin:0;
  padding:5px;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.btn-special-rune {
  height: 30px;
  border: 2px solid #555555;
  border-radius: 4px;
  padding: 3px;
  margin: 0;
}
.btn-special-rune:hover:not(:disabled) {
  background-color: #555555;
  color: white;
}
.btn-special-rune:hover:not(:disabled) img {
  filter: invert(100%);
}

.btn-special-rune:active:not(:disabled) {
  background-color: #333333;
  border-color: #333333;
  color: white;
}

.btn-style-runestyle {
  height: 30px;
  width: 75px;
  border: 2px solid #555555;
  border-radius: 4px;
  padding: 3px;
  margin: 0;
}
.btn-style-runestyle:hover:not(:disabled) {
  background-color: #555555;
  color: white;
}
.btn-style-runestyle:hover:not(:disabled) img {
  filter: invert(100%);
}

.btn-style-runestyle:active:not(:disabled) {
  background-color: #333333;
  border-color: #333333;
  color: white;
}

.btn-style-vowel {
  display: inline-block;
  height: 30px;
  border: 2px solid #555555;
  /* padding: 3px; */
  padding: 0 !important;
  margin: 0 !important;
}
.btn-style-vowel:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}
.btn-style-vowel:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}
.btn-style-vowel:hover:not(:disabled) {
  background-color: #555555;
  color: white;
}
.btn-style-vowel:hover:not(:disabled) img {
  filter: invert(100%);
}

.btn-style-vowel:active:not(:disabled) {
  background-color: #333333;
  border-color: #333333;
  color: white;
}

#svg33 {
  border: 1px red solid;
}

.error-container {
  padding: 0;
  margin: 0;
  height: 0;
  width: 100%;
}

.error-text {
  position: absolute;
  bottom: -10px;
  left: 33%;
  color: red;
}

.hidden {
  display: none;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: url('assets/img/tricolor_small.png');
  background-size: 20px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  background: url('assets/img/tricolor_small.png');
  background-size: 20px;
  cursor: pointer;
}

.pane_output {
  /* overflow-x: auto; */
  overflow: visible !important;
}

.slider-v {
  margin-top: 50px;
  /* -webkit-appearance: none; */
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* .slider-v::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  background: url('assets/img/tricolor_small.png');
  background-size: 20px;
  cursor: pointer;
}
.slider-v::-moz-range-thumb {
  -webkit-appearance: slider-vertical;
  width: 20px;
  height: 20px;
  border: 0;
  background: url('assets/img/tricolor_small.png');
  background-size: 20px;
  cursor: pointer;
} */